.pokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    &__section {
        width: 49%;
        border-radius: 0.5em;
    }

    &__title {
        font-size: 30px;
    }

    &__img {
        display: flex;
        justify-content: center;
    }

    &__description {
        padding: 15px;
        display: flex;
        flex-direction: column;
        list-style: none;
        background: var(--green);
        border-radius: 0.5em;
    }

    &__info {
        margin-bottom: 20px;

        span {
            margin-right: 20px;
            font-weight: 700;
        }
    }

    &__stats {
        padding: 15px;
        display: flex;
        flex-direction: column;
        list-style: none;
        background: var(--green);
        border-radius: 0.5em;
    }

    &__stat {
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        span {
            margin-right: 20px;
            font-size: 20px;
            font-family: var(--font-met);
            font-weight: 700;
        }
    }
}